.index {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.index .menu {
  padding: 2% 3%;
  width: 25%;
  height: 100vh;
  background-color: #333;
}

.index .menu > li {
  line-height: 1.8;
}

.index .menu > li > a {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
}

.index .main {
  width: 75%;
}
