<h2 class="title">後台</h2>

<hr />

<form class="form" [formGroup]="formFe">
  <select formControlName="firstSelect">
    <option value="" disabled>上層分類選單</option>
    <option
      [id]="item.key"
      [value]="item.key"
      *ngFor="let item of firstSelectData"
    >
      {{ item.value }}
    </option>
  </select>

  <select formControlName="secondSelect">
    <option value="" disabled>問題母分類</option>
    <option
      [id]="item.key"
      [value]="item.key"
      *ngFor="let item of secondSelectData"
    >
      {{ item.value }}
    </option>
  </select>

  <select formControlName="thirdSelect">
    <option value="" disabled>問題子分類</option>
    <option
      [id]="item.key"
      [value]="item.key"
      *ngFor="let item of thirdSelectData"
    >
      {{ item.value }}
    </option>
  </select>

  <input type="text" placeholder="請輸入關鍵字" formControlName="input" />

  <select formControlName="thirdSelect">
    <option value="" disabled>審核狀態</option>
    <option value="1">未審核</option>
    <option value="2">審核中</option>
    <option value="3">已審核</option>
  </select>
</form>

<form class="time">
  <div class="timeGroup">
    <mat-form-field appearance="fill">
      <mat-label>起始日</mat-label>
      <input matInput [matDatepicker]="sDate" />
      <mat-datepicker-toggle matSuffix [for]="sDate"></mat-datepicker-toggle>
      <mat-datepicker #sDate></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>結束日</mat-label>
      <input matInput [matDatepicker]="eDate" />
      <mat-datepicker-toggle matSuffix [for]="eDate"></mat-datepicker-toggle>
      <mat-datepicker #eDate></mat-datepicker>
    </mat-form-field>
  </div>

  <div class="btnGroup">
    <button type="button" class="btn btn-search" (click)="search()">
      查詢
    </button>
    <button type="button" class="btn btn-add" (click)="add()">新增</button>
  </div>
</form>

<table>
  <thead>
    <tr>
      <th>功能</th>
      <th>順序</th>
      <th>標題</th>
      <th>審核狀態</th>
      <th>上架日期</th>
      <th>下架日期</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <div class="feature">
          <button type="button" class="btn btn-edit">編輯</button>
          <button type="button" class="btn btn-delete">刪除</button>
        </div>
      </td>
      <td>22</td>
      <td>33</td>
      <td>44</td>
      <td>55</td>
      <td>66</td>
    </tr>
  </tbody>
</table>
