$primary: #405351;
$add: #fbc02d;

.btn {
  text-align: center;
  width: 25%;
  height: 44px;
  border: none;
  border-radius: 10px;
  margin-left: 2%;
  color: #fff;
  font-size: 18px;
  &:focus {
    outline: none;
  }
}
.title {
  font-size: 32px;
  color: $primary;
  font-weight: bold;
}

.form {
  display: flex;
  justify-content: space-around;
  select,
  input {
    margin-right: 1%;
    background-color: #fff;
    width: 25%;
    height: 44px;
    padding-left: 14px;
    border-radius: 10px;
    border: 1px solid #ccc;
    &:focus {
      outline: none;
    }
  }
}

.time {
  display: flex;
  margin-top: 3%;
  .timeGroup {
    margin-right: 1%;
    display: flex;
    mat-form-field {
      margin-right: 2%;
    }
  }

  .btnGroup {
    display: flex;
    width: 100%;

    .btn-search {
      background-color: gray;
      &:hover {
        background: darken(gray, 10%);
      }
    }

    .btn-add {
      background-color: $add;
      &:hover {
        background: darken($add, 10%);
      }
    }
  }
}

.table {
  margin-top: 3%;
  width: 100%;
  table {
    border: 1px solid #ccc;
    width: 100%;
    text-align: center;
    font-size: 18px;
    th,
    td {
      border: 1px solid #ccc;
    }
    th {
      background-color: $primary;
      padding: 2% 0;
      color: #fff;
    }
    td {
      padding: 2% 0;
      background-color: #fff;

      .btn-edit {
        background-color: gray;
        &:hover {
          background: darken(gray, 10%);
        }
      }

      .btn-delete {
        background-color: #f4511e;
        &:hover {
          background: darken(#f4511e, 10%);
        }
      }
    }
  }
}
