<h2 class="title">常見問題設定</h2>

<hr />

<form class="form" [formGroup]="formBe">
  <select formControlName="firstSelect" (change)="getSecondDropdown()">
    <option value="" disabled>上層分類選單</option>
    <option
      [id]="item.id"
      [value]="item.id"
      *ngFor="let item of firstSelectData"
    >
      {{ item.firstgroupname }}
    </option>
  </select>

  <select formControlName="secondSelect" (change)="getThirdDropdown()">
    <option value="" disabled>問題母分類</option>
    <option
      [id]="item.secondID"
      [value]="item.secondID"
      *ngFor="let item of secondSelectData"
    >
      {{ item.secondgroupname }}
    </option>
  </select>

  <select formControlName="thirdSelect">
    <option value="" disabled>問題子分類</option>
    <option
      [id]="item.thirdID"
      [value]="item.thirdID"
      *ngFor="let item of thirdSelectData"
    >
      {{ item.thirdgroupname }}
    </option>
  </select>

  <input
    type="text"
    placeholder="請輸入關鍵字"
    formControlName="searchString"
  />

  <select formControlName="creditStatus">
    <option value="" disabled>審核狀態</option>
    <option value="0">已審核</option>
    <option value="1">未審核</option>
    <option value="2">審核中</option>
  </select>
</form>

<form class="time">
  <div class="timeGroup">
    <mat-form-field appearance="fill">
      <mat-label>起始日</mat-label>
      <input matInput [matDatepicker]="sDate" />
      <mat-datepicker-toggle matSuffix [for]="sDate"></mat-datepicker-toggle>
      <mat-datepicker #sDate></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>結束日</mat-label>
      <input matInput [matDatepicker]="eDate" />
      <mat-datepicker-toggle matSuffix [for]="eDate"></mat-datepicker-toggle>
      <mat-datepicker #eDate></mat-datepicker>
    </mat-form-field>
  </div>

  <div class="btnGroup">
    <button type="button" class="btn btn-search" (click)="search()">
      查詢
    </button>
    <button type="button" class="btn btn-add" (click)="add()">新增問答</button>
  </div>
</form>

<div class="table">
  <table>
    <thead>
      <tr>
        <th scope="col">功能</th>
        <th scope="col">順序</th>
        <th scope="col">標題</th>
        <th scope="col">審核狀態</th>
        <th scope="col">上架日期</th>
        <th scope="col">下架日期</th>
      </tr>
    </thead>
    <ng-container *ngIf="userPageItem.length > 0; else elseTemplate">
      <tbody>
        <tr [id]="item.id" *ngFor="let item of userPageItem; let i = index">
          <td>
            <div class="feature">
              <button
                type="button"
                class="btn btn-edit"
                (click)="edit(item.id)"
              >
                編輯
              </button>
              <button
                type="button"
                class="btn btn-delete"
                (click)="del(item.id)"
              >
                刪除
              </button>
            </div>
          </td>
          <td>{{ i + 1 }}</td>
          <td>{{ item.subject }}</td>
          <td>{{ item.creditStatus }}</td>
          <td>{{ item.release_date }}</td>
          <td>{{ item.estimate_invalid_date }}</td>
        </tr>
      </tbody>
    </ng-container>
    <ng-template #elseTemplate>
      <tbody>
        <tr>
          <td colspan="6">查無資料</td>
        </tr>
      </tbody>
    </ng-template>
  </table>
</div>
