<h2 class="title">常見問題</h2>

<form [formGroup]="detailForm">
  <select formControlName="thirdSelect">
    <option value="" disabled>請選擇子分類</option>
    <option value=""></option>
  </select>

  <input type="text" placeholder="關鍵字" formControlName="keyword" />

  <button type="button" class="btn btn-primary" (click)="search()">查詢</button>
  <button type="button" class="btn btn-secondary" (click)="goBack()">
    回前頁
  </button>
</form>

<hr />
<h2 class="qTitle">問題 TOP5</h2>

<ng-container *ngFor="let item of getQueAnsItem">
  <ul class="questionList">
    <hr />
    <li>{{ item.subject }}</li>
  </ul>
</ng-container>

<ng-container *ngFor="let item of getQueAnsItem; let i = index">
  <div class="item">
    <details [open]="i === 0">
      <summary>{{ item.subject }}</summary>
      <div class="answer">
        <p>
          {{ item.answer }}
        </p>
      </div>
    </details>
  </div>
</ng-container>
