<h2 class="title">常見問題</h2>

<form>
  <select>
    <option value="" disabled>請選擇子分類</option>
    <option value=""></option>
  </select>

  <input type="text" placeholder="關鍵字" />

  <button type="button" class="btn btn-primary">查詢</button>
  <button type="button" class="btn btn-secondary" (click)="goBack()">
    回前頁
  </button>
</form>

<hr />
<ul class="questionList">
  <h2 class="qTitle">問題 TOP5</h2>
  <hr />
  <li>問題1</li>
  <li>問題2</li>
  <li>問題3</li>
  <li>問題4</li>
  <li>問題5</li>
</ul>

<div class="item">
  <details>
    <summary>問題</summary>
    <div class="answer">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet est
        magnam quisquam, temporibus, nemo amet corporis nulla laborum esse et
        tempore odio ipsum, libero voluptatum soluta alias harum exercitationem.
        Modi?
      </p>
    </div>
  </details>
</div>
