$primary: #405351;

h2 {
  color: $primary;
  font-size: 24px;
  padding-bottom: 2%;
  font-weight: bold;
}

.btn {
  text-align: center;
  width: 45%;
  height: 44px;
  border: none;
  border-radius: 10px;
  color: #fff;
  font-size: 18px;
  &:focus {
    outline: none;
  }
}

.btnGroup {
  display: flex;
  justify-content: space-around;
  .btn-primary {
    background-color: $primary;
    &:hover {
      background: darken($primary, 10%);
    }
  }

  .btn-secondary {
    background-color: gray;
    &:hover {
      background: darken(gray, 10%);
    }
  }
}

.form {
  width: 100%;
  .block {
    display: block;
    margin-bottom: 1%;
    span {
      font-size: 18px;
    }

    select,
    .title {
      margin-top: 1%;
      background-color: #fff;
      width: 100%;
      height: 44px;
      padding-left: 14px;
      border-radius: 10px;
      border: 1px solid #ccc;
      &:focus {
        outline: none;
      }
    }
    textarea {
      margin-top: 1%;
      width: 100%;
      border-radius: 10px;
      border: 1px solid #ccc;
      padding: 1%;
      outline: none;
    }
  }
}
