$primary: #3b82f6;

.btn {
  text-align: center;
  width: 100px;
  border-radius: 10px;
  margin-left: 2%;
  color: #fff;
  font-size: 18px;
  &:focus {
    outline: none;
  }
}

.title {
  font-size: 32px;
  color: $primary;
  font-weight: bold;
}

.form {
  display: flex;
  justify-content: space-around;
  select,
  input {
    margin-right: 1%;
    background-color: #fff;
    width: 25%;
    height: 44px;
    padding-left: 14px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    &:focus {
      outline: none;
    }
  }

  .btnGroup {
    display: flex;
    .btn-search {
      background-color: gray;
      &:hover {
        background: darken(gray, 10%);
      }
    }

    .btn-add {
      background-color: $primary;
      &:hover {
        background: darken($primary, 10%);
      }
    }
  }
}

.nav {
  margin-top: 5%;
  width: 100%;
  display: flex;
  li {
    width: 100%;
    display: flex;
    color: #333;
    border-bottom: 1px dashed #333;
    padding: 20px 0;
    position: relative;
    cursor: pointer;
    font-size: 18px;
    span {
      padding-left: 3%;
    }
    &:hover,
    > li {
      width: 100%;
      // display: block;
      background-color: $primary;
      transition: all 0.3s;
      color: #fff;
    }
    &:hover > ul {
      display: block;
    }
    ul {
      display: none;
      position: absolute;
      top: 100%;
      width: 100%;
      // background-color: rgba(#d1d1d1, 0.7);
      // bottom: 15px;
      // box-shadow: 0px 5px 10px rgba(#171736, 0.6);
    }
  }
}
