$primary: #405351;
$add: #fbc02d;

.btn {
  text-align: center;
  width: 100px;
  border-radius: 10px;
  margin-left: 2%;
  color: #fff;
  font-size: 18px;
  &:focus {
    outline: none;
  }
}

.title {
  font-size: 32px;
  color: $primary;
  font-weight: bold;
}

.form {
  display: flex;
  justify-content: space-around;
  select,
  input {
    margin-right: 1%;
    background-color: #fff;
    width: 25%;
    height: 44px;
    padding-left: 14px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    &:focus {
      outline: none;
    }
  }

  .btnGroup {
    display: flex;
    .btn-search {
      background-color: gray;
      &:hover {
        background: darken(gray, 10%);
      }
    }

    .btn-add {
      background-color: $add;
      &:hover {
        background: darken($add, 10%);
      }
    }
  }
}

.nav {
  margin-top: 5%;
  width: 33.3333%;
border-bottom: 1px dashed #333;
  li {
    display: block;
    color: #333;
    padding: 20px 10px;
    position: relative;
    cursor: pointer;
    &:hover,
    > li {
      background-color: $add;
      transition: all 0.6s;
    }
    & + li::before {
      content: "";
      position: absolute;
      border-top: 1px dashed #333;
      left: 10px;
      right: 10px;
      top: 0px;
    }
    &:hover > ul {
      display: block;
    }
    ul {
      display: none;
      position: absolute;
      left: 100%;
      width: 300px;
      background-color: rgba(#eee, 0.7);
      top: 15px;
      box-shadow: 5px 5px 10px rgba(#333, 0.6);
    }
  }
}
