<h2 class="title">常見問題分類設定</h2>

<hr />

<form class="form" [formGroup]="formFe">
  <select formControlName="firstSelect" (change)="getSecondDropdown()">
    <option value="" disabled>上層分類選單</option>
    <option [id]="item.id" [value]="item.id"
      *ngFor="let item of firstSelectData">
      {{ item.firstgroupname }}
    </option>
  </select>

  <select formControlName="secondSelect" (change)="getThirdDropdown()">
    <option value="" disabled>問題母分類</option>
    <option [id]="item.secondID" [value]="item.secondID"
      *ngFor="let item of secondSelectData">
      {{ item.secondgroupname }}
    </option>
  </select>

  <select formControlName="thirdSelect">
    <option value="" disabled>問題子分類</option>
    <option [id]="item.thirdID" [value]="item.thirdID"
      *ngFor="let item of thirdSelectData">
      {{ item.thirdgroupname }}
    </option>
  </select>

  <input type="text" placeholder="請輸入關鍵字" formControlName="input" />

  <div class="btnGroup">
    <button type="button" class="btn btn-search" (click)="search()">
      查詢
    </button>
    <button type="button" class="btn btn-add" (click)="add()">新增分類</button>
  </div>
</form>

<ul class="nav">
  <ng-container *ngFor="let row of getMenuData; let i = index">
    <li>
      <span> {{ row.firstName }} </span>
      <ul>
        <ng-container *ngFor="let item of row.secondItems">
          <li>
            <span> {{ item.secondName }} </span>
            <ul>
              <ng-container *ngFor="let childItem of item.thirdItems">
                <li (click)="detail(childItem.thirdID)">
                  <span> {{childItem.thirdName}} </span>
                </li>
              </ng-container>


            </ul>
          </li>
        </ng-container>
      </ul>
    </li>
  </ng-container>
</ul>
