<div class="container">
  <div class="py-2">
    <h2 class="text-blue-500 text-2xl">前台</h2>
  </div>
  <hr />

  <form class="flex justify-around">
    <mat-select>
      <mat-option value="">上層分類選單</mat-option>
      <mat-option value=""></mat-option>
    </mat-select>

    <mat-select>
      <mat-option value="">問題母分類</mat-option>
      <mat-option value=""></mat-option>
    </mat-select>

    <mat-select>
      <mat-option value="">問題子分類</mat-option>
      <mat-option value=""></mat-option>
    </mat-select>

    <mat-form-field class="example-full-width">
      <mat-label>搜尋關鍵字</mat-label>
      <input matInput placeholder="請輸入關鍵字" />
    </mat-form-field>

    <div class="flex justify-around">
      <button mat-raised-button color="primary">查詢</button>
      <button mat-raised-button color="accent">新增</button>
    </div>
  </form>

  <button mat-button [matMenuTriggerFor]="animals">個人金融</button>
  <mat-menu #animals="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="vertebrates">存款</button>
  </mat-menu>

  <mat-menu #vertebrates="matMenu">
    <button mat-menu-item>金融卡</button>
  </mat-menu>
</div>
