.index {
  display: flex;

  .menu {
    padding: 2% 3%;
    width: 25%;
    height: 100vh;
    background-color: #333;
    > li {
      line-height: 1.8;
      > a {
        color: #fff;
        text-decoration: none;
        font-size: 24px;
      }
    }
  }
  .main {
    width: 75%;
  }
}
