img {
  background-position: center center;
  background-size: cover;
  width: 1280px;
  margin: 0 auto;
}
h1 {
  text-align: center;
  padding: 1% 0;
  color: #405351;
  font-size: 72px;
  font-weight: bold;
}
